MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

CLICKHOUSE_DB=stock_lakehouse
CLICKHOUSE_HOST=
CLICKHOUSE_PORT=
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_DATABASE=stock_lakehouse

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=stock_user
POSTGRES_PASSWORD=stock_password
POSTGRES_DB=stock_lakehouse
POSTGRES_DATABASE=stock_lakehouse

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
AIRFLOW_WEBSERVER_SECRET_KEY=change_me_airflow

SUPERSET_SECRET_KEY=change_me

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

FINNHUB_API_KEY=

DNSE_USERNAME=
DNSE_PASSWORD=
DNSE_API_KEY=
DNSE_API_SECRET=
DNSE_WS_URL=wss://ws-openapi.dnse.com.vn
DNSE_WS_ENCODING=json
DNSE_WS_BOARD_ID=G1
DNSE_WS_SYMBOLS=VCB,FPT,HPG

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
